# Import libraries

In [1]:
# ! pip install faker

In [6]:
import pandas as pd
import numpy as np
import random
from faker import Faker
from datetime import datetime, timedelta
import uuid
from tqdm import tqdm
from random import randint, uniform
from faker.providers import BaseProvider

In [2]:
fake = Faker()
start_date = datetime.strptime("2005-01-01", "%Y-%m-%d")
end_date = datetime.strptime("2023-12-31", "%Y-%m-%d")

In [3]:
def generate_random_id():
    return(uuid.uuid1().hex)

# Data generation

## Tables Customer data

In [4]:
from random import randint, uniform
from faker.providers import BaseProvider

class CameroonPhoneProvider(BaseProvider):
    def phone_number(self):
        """Generates a fake Cameroon phone number in a random format."""
        formats = [
            "+237 65ABCDEFG",
            "+237 67ABCDEFG",
            "+237 68ABCDEFG",
            "+237 69ABCDEFG",
        ]
        format_str = formats[randint(0, len(formats) - 1)]
        phone_number = format_str.replace("A", str(randint(0, 9)))
        phone_number = phone_number.replace("B", str(randint(0, 9)))
        phone_number = phone_number.replace("C", str(randint(0, 9)))
        phone_number = phone_number.replace("D", str(randint(0, 9)))
        phone_number = phone_number.replace("E", str(randint(0, 9)))
        phone_number = phone_number.replace("F", str(randint(0, 9)))
        phone_number = phone_number.replace("G", str(randint(0, 9)))
        return phone_number

fake = Faker()
fake.add_provider(CameroonPhoneProvider)

cam_phone_number = fake.phone_number()
print(cam_phone_number)

+237 675254093

In [7]:
customers_list = []
for i in tqdm(range(10000)):
    first_name = fake.first_name()
    last_name = fake.last_name()
    domain = fake.domain_name()
    email = f"{first_name}.{last_name}@{domain}"
    phone_number = cam_phone_number
    registration_date = fake.date_between(start_date, end_date)
    date_of_birth = fake.date_of_birth(minimum_age=30, maximum_age=75)
    address = fake.address()
    city = random.choice(["Yaoundé", "Douala", "Bafoussam", "Dschang", "Garoua", "Maroua", "Bamenda", "Ngaoundéré", "Nkongsamba", "Limbe", "Bertoua", "Mbouda", "Guider","Foumban", "Tibati", "Buea", "Kumba", "Kribi", "Loum", "Nkambe","Bangangté", "Baham", "Ndikiniméki", "Wum", "Batouri", "Yokadouma", "Mindif", "Meigang", "Abong-Mbang", "Bertoua", "Bogo", "Dir", "Poli", "Mbouda", "Bakoum", "Ngaoundal", "Figuil", "Mayo-Darlé", "Mayo-Rey", "Betaré-Oya", "Guidiguis", "Minjibir", "Mbankomo", "Ntui", "Mengang", "Akonolinga", "Ebolowa", "Abé", "Sangmélima", "Oveng", "Bipindi", "Meyomessé",])
    region = random.choice(["Nord", "Sud", "Est", "Ouest", "Centre", "Littoral", "Adamaoua", "Nord-ouest", "Sud-ouest", "Extrème-nord"])

    date_dict = {
        'customer_id' :generate_random_id(), 
        'first_name': first_name, 
        'last_name': last_name,
        'email': email,
        'phone_number': phone_number,
        'registration_date': registration_date,
        'date_of_birth' : date_of_birth,
        'address': address,
        'city': city,
        'region' : region
        }
    customers_list.append(date_dict)
customer_df = pd.DataFrame(customers_list)
print(customer_df.shape)
customer_df.head()

100%|██████████| 10000/10000 [00:22<00:00, 454.10it/s]

(10000, 10)

,customer_id,first_name,last_name,email,phone_number,registration_date,date_of_birth,address,city,region
0,9ddc46a6407811ef8d95e470b847802d,Miranda,Matthews,Miranda.Matthews@richards-sanders.com,+237 675254093,2009-09-15,1975-12-12,"9584 Riley Streets Suite 467\nPort Kyle, OR 44165",Maroua,Est
1,9ddc955a407811ef8cfee470b847802d,Kayla,Stout,Kayla.Stout@smith.com,+237 675254093,2017-07-20,1966-06-03,"40712 Justin Ports Apt. 056\nHallbury, ME 46737",Yaoundé,Littoral
2,9ddc955b407811efaaa5e470b847802d,Susan,Wright,Susan.Wright@taylor.com,+237 675254093,2010-03-20,1953-10-30,"140 Taylor Alley Suite 639\nTaylorborough, KY ...",Figuil,Nord-ouest
3,9ddc955c407811ef9d4de470b847802d,David,Murillo,David.Murillo@warren.com,+237 675254093,2013-01-24,1958-09-21,"5929 Robert Course\nNorth Amandabury, NC 73084",Ngaoundéré,Extrème-nord
4,9ddc955d407811ef82e8e470b847802d,Patricia,Zuniga,Patricia.Zuniga@daniel.com,+237 675254093,2009-06-11,1967-10-03,"125 Banks Fords\nPort Jenniferborough, SD 36805",Foumban,Centre

In [13]:
customer_df.columns

Index(['customer_id', 'first_name', 'last_name', 'email', 'phone_number',
       'registration_date', 'date_of_birth', 'address', 'city', 'region'],
      dtype='object')

['aad87a42407811efa231e470b847802d']

In [28]:
customer_df.to_csv('../Data/Train/customers.csv', index=False)

In [12]:
customer_df.head()

,customer_id,first_name,last_name,email,phone_number,registration_date,date_of_birth,address,city,region
0,9ddc46a6407811ef8d95e470b847802d,Miranda,Matthews,Miranda.Matthews@richards-sanders.com,+237 675254093,2009-09-15,1975-12-12,"9584 Riley Streets Suite 467\nPort Kyle, OR 44165",Maroua,Est
1,9ddc955a407811ef8cfee470b847802d,Kayla,Stout,Kayla.Stout@smith.com,+237 675254093,2017-07-20,1966-06-03,"40712 Justin Ports Apt. 056\nHallbury, ME 46737",Yaoundé,Littoral
2,9ddc955b407811efaaa5e470b847802d,Susan,Wright,Susan.Wright@taylor.com,+237 675254093,2010-03-20,1953-10-30,"140 Taylor Alley Suite 639\nTaylorborough, KY ...",Figuil,Nord-ouest
3,9ddc955c407811ef9d4de470b847802d,David,Murillo,David.Murillo@warren.com,+237 675254093,2013-01-24,1958-09-21,"5929 Robert Course\nNorth Amandabury, NC 73084",Ngaoundéré,Extrème-nord
4,9ddc955d407811ef82e8e470b847802d,Patricia,Zuniga,Patricia.Zuniga@daniel.com,+237 675254093,2009-06-11,1967-10-03,"125 Banks Fords\nPort Jenniferborough, SD 36805",Foumban,Centre

## Device data

In [10]:
device_id_list = [generate_random_id() for i in range(200)]
# device_id_list

In [23]:
customer_df[customer_df.customer_id=='a94fef24407811ef8ecbe470b847802d']

,customer_id,first_name,last_name,email,phone_number,registration_date,date_of_birth,address,city,region
8662,a94fef24407811ef8ecbe470b847802d,Anthony,James,Anthony.James@richards-ruiz.net,+237 675254093,2008-10-11,1983-12-31,"39714 James Course Apt. 490\nJasmineville, IL ...",Meyomessé,Nord-ouest

## Transaction data

In [22]:
transaction_list=[]
customer_id_list = customer_df["customer_id"]

for i in tqdm(range(100000)):
    transaction_id = generate_random_id()
    customer_id = random.choice(customer_id_list)
    transaction_type = random.choice(["retrait", "depôt", "transfert"])
    amount = uniform(100, 10000000)
    transaction_date = fake.date_between(start_date, end_date)
    location = fake.address()
    device_id = random.choice(device_id_list)
    status = random.choice(["échouée", "réussie"])
    is_fraud = random.choice([0,1])

    transaction_dict = {
        "transaction_id": transaction_id,
        "customer_id": customer_id,
        "transaction_type": transaction_type,
        "amount": amount,
        "transaction_date": transaction_date,
        "location": location,
        "device_id": device_id,
        "status": status,
        "is_fraud": is_fraud
    }

    transaction_list.append(transaction_dict)

transaction_df = pd.DataFrame(transaction_list)
print(transaction_df.shape)
transaction_df.head()+

100%|██████████| 100000/100000 [01:52<00:00, 887.48it/s]

(100000, 9)

,transaction_id,customer_id,transaction_type,amount,transaction_date,location,device_id,status,is_fraud
0,6a29fb73407911efaf22e470b847802d,a71822a4407811ef9963e470b847802d,retrait,9.277907e+06,2006-07-24,"487 Nicole Lights Suite 187\nTaylorton, WA 94726",b9f9b4e6407811efb5fee470b847802d,échouée,1
1,6a2a225c407911ef98d8e470b847802d,a07645e6407811ef8517e470b847802d,transfert,8.465961e+06,2022-04-04,"418 Cheryl Manors\nPort Jennifer, CT 87069",b9f98e1f407811ef9ff4e470b847802d,réussie,1
2,6a2a225d407911efb631e470b847802d,a61fa3d6407811efbfdbe470b847802d,retrait,5.679446e+06,2020-12-19,"99924 Cox View Suite 511\nNew Kimberlystad, AZ...",b9f9b4f6407811efb3b1e470b847802d,échouée,1
3,6a2a4953407911efb332e470b847802d,a94fef24407811ef8ecbe470b847802d,depôt,4.883661e+06,2005-02-22,"7126 Clayton Dale Apt. 123\nSweeneyside, OH 43574",b9f9b53c407811efbd2be470b847802d,réussie,0
4,6a2a4954407911efb4bfe470b847802d,a19769b5407811efb83ae470b847802d,transfert,5.065001e+06,2019-12-31,"89692 Abigail Fields\nAmandaport, MI 85458",b9f98e00407811efa2b6e470b847802d,réussie,0

In [10]:
transaction_df.to_csv('../Data/Train/transactions.csv')

## Transaction history data

In [31]:
transaction_history_list = []

for i, transaction in tqdm(transaction_df.iterrows()):
    history_id = generate_random_id()
    customer_id = transaction.customer_id
    transaction_id = transaction.transaction_id
    previous_balance = transaction.amount + uniform(0, 10000000)

    if transaction.transaction_type == "depôt":
        new_balance = previous_balance + transaction.amount
    else:
        new_balance = previous_balance - transaction.amount
        
    transaction_date = transaction.transaction_date

    transaction_history_dict = {
        "history_id" : history_id,
        "customer_id" : customer_id,
        "transaction_id" : transaction_id,
        "previous_balance" : previous_balance,
        "new_balance" : new_balance,
        "transaction_date": transaction_date
    }
    transaction_history_list.append(transaction_history_dict)

transaction_history_df = pd.DataFrame(transaction_history_list)
print(transaction_history_df.shape)
transaction_history_df.head()

100000it [00:42, 2333.35it/s]

(100000, 6)

,history_id,customer_id,transaction_id,previous_balance,new_balance,transaction_date
0,cb8a5693407a11ef8e48e470b847802d,a71822a4407811ef9963e470b847802d,6a29fb73407911efaf22e470b847802d,1.147287e+07,2.194959e+06,2006-07-24
1,cb8a5694407a11efbf98e470b847802d,a07645e6407811ef8517e470b847802d,6a2a225c407911ef98d8e470b847802d,1.717588e+07,8.709919e+06,2022-04-04
2,cb8a5695407a11efb474e470b847802d,a61fa3d6407811efbfdbe470b847802d,6a2a225d407911efb631e470b847802d,1.523108e+07,9.551637e+06,2020-12-19
3,cb8a5696407a11ef9d55e470b847802d,a94fef24407811ef8ecbe470b847802d,6a2a4953407911efb332e470b847802d,1.486875e+07,1.975242e+07,2005-02-22
4,cb8a5697407a11efba9de470b847802d,a19769b5407811efb83ae470b847802d,6a2a4954407911efb4bfe470b847802d,5.387807e+06,3.228061e+05,2019-12-31

In [ ]:
transaction_history_df.to_csv('../Data/Train/transaction_history.csv')

## Transaction pattern data

## alerts data

## fraude_cases data

## regions data